#root {
  max-width: 1280px;
  margin: 0;
  padding: 0.5rem;
}

body {
  background: rgb(5, 3, 37);
  background: linear-gradient(90deg, rgba(5, 3, 37, 1) 0%, rgba(78, 9, 121, 1) 35%, rgba(3, 1, 54, 1) 100%);
  color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

th,
h3 {
  padding: 10px;
}

h4, h3 {
  padding: 0px;
  margin: 10px;
}

input {
  display: inline;
  border-radius: 90px;
  height: 30px;
  width: 220px;
  text-align: center;
  margin: 15px;
}

img {
  width: 280px;
  height: 424px;
}